@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* Estilo del Menú*/
header {
    background-color: #333; 
    padding: 10px 20px; 
    display: flex;
    border-radius: 20px;
    
}

.navBar{
    display: flex;
    justify-content: space-between; 
    text-align: center;
    max-width: 1200px;
    background-color: #333;  
}

.navBar .logo{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color:#333; 
}

.logo img {
    height: 90px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 1.5px solid rgba(145, 140, 140, 0.704);
}

.navBar h1 {
    background-color: #333;  
    color:#f2f2f2;
    font-size: 1.75rem;
    margin: 0;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    padding: 12px;
}

/* Estilo del Home */
main {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    padding: 1.25rem;
    font-size: .75rem; 
    background-color: #f2f2f2;
    
}

.contenedor h3{
    text-align:left;
    color: #124c8a;
    font-size: 2em;
    border-bottom: 2px solid #2e3135;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    letter-spacing:1px;
}

.cardHome {
    position: relative;
    display: inline-block;
    padding: 3px;

}

.cardHome img {
    display: block;
    width: 100%;
    height: 160%;
    border: 2px solid #124c8a; 
    border-radius: 8px; 
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardHome a{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    color: #f2f2f2;
    width: 60%;
    letter-spacing: 2px;
    font-size: 15px;
    
}
/* Estilo del Form Home */
.contenedor .formHome p{
    text-align:left;
    color: #c48e1b;
    font-size: 1.5em;
    border-bottom: 2px solid #c48e1b;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    letter-spacing: 1px;
    padding: 10px;
    font-weight: bolder;
    margin: 10px;
    
}
.contenedor .formHome .inputHome {
    margin:  15px;
    color: #c48e1b;
    font-weight: bolder;
    font-size: 14px;
}

.contenedor .formHome .btnEnviarMailing input {
    margin: 5px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #c48e1b;
    color: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(99, 91, 91, 0.788);
    height: 100%;
    width: 8%;
     letter-spacing: 1px;
}

/* Estilo del Pie de Pagina*/
footer {
    display: flex;
    background: #194b81;
    width: 100%;
    height:auto;
    justify-content: space-around;
    padding: 1.25rem;
    box-shadow: 0 0 25px 25px rgba(172, 169, 187, 0.568);
    font-size: .75rem;
    position: absolute;
    bottom: 0;

}

div h4 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Ancho máximo para el contenido */
    margin: 0 auto;
    background: #194b81;
    color: #f2f2f2;
    letter-spacing: 2px;
    
}

div a {
    background: #194b81;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}